# Database
DATABASE_URL="postgresql://neondb_owner:npg_9zHFIhA4uGyX@ep-morning-truth-amuw3irx-pooler.c-5.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# Vercel (only needed for production)
# POSTGRES_URL="postgresql://..."
# POSTGRES_PRISMA_URL="postgresql://..."
# POSTGRES_URL_NON_POOLING="postgresql://..."
# POSTGRES_USER="..."
# POSTGRES_HOST="..."
# POSTGRES_PASSWORD="..."
# POSTGRES_DATABASE="..."

# App
NODE_ENV="development"
